<!DOCTYPE html>
<html>
<head><title>Dashboard</title></head>
<body>
    <h1>Welcome to the Dashboard, <%= user %>!</h1>
    <p>This is a protected route. Only logged-in users can see this.</p>
    <a href="/logout">Logout</a>
</body>
</html>